body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding: 0 10px;
  white-space: nowrap;
}

h1::after {
  content: "+ + +";
  margin: 0 10px;
}

img {
  display: block;
  width: 25vw;
  height: 200px;
  margin: 0;
  opacity: 0;
  transition: 1s;
}

.loaded {
  opacity: 1;
}
